@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html,
body {
    font-family: 'DM Sans', sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
}

body {
    background-color: #F8F8FF !important;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
}

*::-moz-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
}

/* Highlight Text */
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #8CB523;
}

::selection {
    color: #fff;
    background: #8CB523;
}

/*********Header Nav*********/
nav {
    padding: 10px 10px !important;
    width: 100%;
    z-index: 99 !important;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: fixed !important;
}

nav .navbar-brand img {
    width: 200px;
}

nav .navbar-nav {
    margin-left: -50px;
}

nav .navbar-nav .nav-item {
    padding-right: 15px;
    font-size: 16px;
}

nav .navbar-nav .nav-item .nav-link {
    color: #000000;
    font-weight: 500;
}

nav .navbar-nav .nav-item .nav-link:hover {
    color: #8CB523;
    padding-bottom: 2px;
    border-bottom: 2px solid #8CB523;
}

nav .login-div {
    margin-top: 7px;
}

nav .login-div .btn-login {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

/* nav .login-div .btn-login i{
    padding-right: 5px;
}  */
nav .login-div .btn-login:hover {
    background-color: #8CB523;
    border: none;
    color: #ffffff;
}

nav .login-div .btn-signup {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #8CB523;
}

nav .login-div .btn-signup:hover {
    color: #000;
}

nav .login-div .btn-signup i {
    padding-left: 5px;
}

nav .navbar-toggler {
    border: 1px solid #000 !important;
}

nav .navbar-toggler i {
    color: #000;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

nav .offcanvas {
    width: 280px;
}

nav .offcanvas-header {
    text-align: right;
    padding: 10px 1px 1px 1px !important;
    margin-bottom: -20px;
}

nav .offcanvas-header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;
    right: -230px;
}

nav .offcanvas-header button i {
    font-size: 25px;
    color: #000
}

nav .mobile-login {
    display: none;
}

nav .desktop-signup {
    display: none;
}

@media(max-width: 1199px) {
    nav .navbar-nav {
        margin-left: -10px;
    }

    nav .login-div .btn-login {
        padding: 10px 15px;
    }

    nav .login-div .btn-signup {
        padding: 10px 15px;
    }

    nav .navbar-nav .nav-item {
        padding-right: 5px;
        font-size: 15px;
    }

    nav .login-div {
        margin-right: -20px;
    }

    nav .login-div .btn-signup i {
        padding-left: 1px;
    }

    nav .login-div .btn-login i {
        padding-right: 1px;
    }
}

@media(max-width: 991px) {
    nav {
        padding: 10px 10px !important;
    }

    nav .navbar-nav {
        margin-left: 0px;
    }

    nav .login-div {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 0px;
    }

    nav .navbar-nav .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 5px;
    }

    nav .navbar-nav .nav-item .nav-link {
        font-weight: 600;
        font-size: 17px;
    }

    nav .mobile-login {
        display: block;
        margin-top: -2px;
    }

    nav .desktop-login {
        display: none;
    }

    nav .desktop-signup {
        display: block;
    }

    /* nav .navbar-nav .nav-item .nav-link{
        border-bottom: 1px solid #8CB523;
    } */
    nav .navbar-nav .nav-item .nav-link:hover {
        color: #8CB523;
    }

    nav .login-div .btn-signup {
        background-color: #8CB523;
        padding: 10px 10px;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: -10px;
        border-radius: 10px;
        color: #ffffff;
    }
}

@media(max-width: 442px) {
    nav .navbar-brand img {
        width: 150px;
    }

    nav .mobile-login .btn-login {
        padding: 7px 10px;
        font-size: 15px;
    }

    nav .navbar-toggler {
        padding: 3px 10px !important;
    }

    nav .navbar-toggler i {
        color: #000;
        font-size: 16px;
    }
}

@media(max-width: 370px) {
    nav .navbar-brand img {
        margin-left: 5px;
    }
}

/*********Header Nav Ends*********/

/*********welcome  *********/
.welcome {
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668431293/ComplyNG%20Images/tihjy_jnvfoe.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 10px 0px;
}

.welcome .compile h1 {
    padding: 100px 0 0 0;
    font-size: 54px;
    color: #000;
    font-weight: 900;
}

.welcome .compile p {
    font-weight: 500;
    line-height: 1.6;
}

.welcome .compile button {
    margin-top: 40px;
    border: none;
    background-color: #8CB523;
    color: #fff;
    padding: 10px 30px;
    box-shadow: 0px 4px 20px #8CB523;
    border-radius: 5px;
}

.welcome .images img {
    display: block;
    margin: auto;
    width: 80%;
}

.pulse {
    animation: pulse 3s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.2);
    }
}

.welcome .push {
    padding: 80px 0px 0px 0px;
}

.welcome .line {
    background-color: #949494;
    height: 1px;
    width: 100%;
}

@media (max-width:1300px) {
    .welcome .compile h1 {
        padding: 50px 0 0 0;
        font-size: 54px;
        color: #000;
        font-weight: 900;
    }
}

@media (max-width:1199px) {
    .welcome .compile h1 {
        padding: 40px 0 0 0;
        font-size: 40px;
        color: #000;
        font-weight: 900;
    }

    .welcome {
        padding: 150px 10px 10px 10px;
    }

    .welcome .images img {
        display: block;
        margin: auto;
        width: 90%;
    }
}

@media (max-width:992px) {
    .welcome .images img {
        margin-top: 50px !important;
        display: block;
        margin: auto;
        width: 80%;
    }
}

@media (max-width:767px) {
    .welcome .compile h1 {
        padding: 10px 0 0 0;
        font-size: 35px;
        color: #000;
        font-weight: 900;
    }

    .welcome .images img {
        margin-top: 80px !important;
        display: block;
        margin: auto;
        width: 80%;
    }

    .welcome {
        padding: 150px 0px 10px 0px;
    }
}

@media (max-width:583px) {
    .welcome {
        padding: 150px 10px 10px 10px;
    }
}

@media (max-width:525px) {
    .welcome .compile h1 {
        padding: 10px 0 0 0;
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }
}

@media (max-width:460px) {
    .welcome .compile h1 {
        padding: 10px 0 0 0;
        font-size: 25px;
        color: #000;
        font-weight: 900;
    }

    .welcome .compile p {
        font-weight: 500;
        line-height: 1.6;
    }

    .welcome .compile button {
        margin-top: 25px;
    }
}

/*********welcome  Ends*********/

/*********Offer*********/
.offer {
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668436203/ComplyNG%20Images/Group_1000001728_sax3z4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 10px 0;
}

.offer .what {
    text-align: center;
}

.offer .what h1 {
    font-size: 45px;
    color: #000;
    font-weight: 900;
}

.offer .what p {
    font-weight: 500;
}
.offer  a{
    text-decoration: none;
    color: #000;
}
.offer  a:hover{
    text-decoration: none;
    color: #000;
}
.offer .card {
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 5px;
    border: none;
    height: 220px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.offer .card img {
    width: 50px;
}

.offer .card h1 {
    color: #000;
    padding: 15px 0px 0px 0;
    font-size: 17px;
    font-weight: 900;
}

.offer .card p {
    font-size: 14px;
}

.offer .push {
    padding: 100px 0px 0px 0px;
}

.offer .line {
    background-color: #949494;
    height: 0.5px;
    width: 100%;
}

@media (max-width:1300px) {
    .offer .card {
        height: 240px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:1200px) {
    .offer .card {
        height: 280px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:992px) {
    .offer .card {
        height: 220px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:584px) {
    .offer {
        padding: 50px 10px 10px 10px;
    }

    .offer .what h1 {
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }
}

/*********Offer  Ends*********/

/*********Publish *********/
.publish {
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668439253/ComplyNG%20Images/Group_1000001729_q2skob.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}

.publish .what {
    text-align: center;
}

.publish .what h1 {
    font-size: 45px;
    color: #000;
    font-weight: 900;
}

.publish .what p {
    font-weight: 500;
}

.publish .video-div {
    padding: 40px 0 0 0;
}

.publish .video-div iframe {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

@media (max-width:584px) {
    .publish {
        padding: 50px 10px 50px 10px;
    }

    .publish .what h1 {
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }
}

/*********Publish  Ends*********/

/*********work *********/
.work {
    padding: 100px 0px 0px 0px;
    background-color: #E5E5FB;
    margin-bottom: -230px;
}

.work .coming {
    margin-top: 20px;
    background-color: #1C1E32;
    padding: 10px;
    border-radius: 10px;
}

.work .what {
    text-align: center;
}

.work .what h1 {
    font-size: 45px;
    color: #000;
    font-weight: 900;
}

.work .what h2 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.work .what p {
    font-weight: 500;
}

.work .hey {
    padding: 20px;
    color: #fff;
    text-align: center;
}

.work .hey img {
    display: block;
    margin: auto;
    width: 80px;
    margin-bottom: 20px !important;
}

.work a {
    text-decoration: none;
}

.work button {
    padding: 10px 30px;
    border: none;
    background-color: #8CB523;
    color: #fff;
    font-size: 13px;
    display: block;
    box-shadow: 0px 4px 20px #8CB523;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
}

.work .push {
    padding: 80px 0px 0px 0px;
}

.work .line {
    background-color: #949494;
    height: 0.5px;
    width: 100%;
}

@media (max-width:991px) {
    .work .coming {
        padding: 0px;
    }

    .work .hey img {
        display: block;
        margin: auto;
        width: 50px;
        margin-bottom: 20px !important;
    }

    .work .what h1 {
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }

    .work .what h2 {
        font-size: 20px;
        color: #000;
        font-weight: 600;
    }
}

@media (max-width:584px) {
    .work {
        padding: 50px 10px 50px 10px;
        background-color: #E5E5FB;
    }

    .work .coming {
        padding: 10px;
    }

    .work .hey img {
        display: block;
        margin: auto;
        width: 50px;
        margin-bottom: 20px !important;
    }
}

/*********work  Ends*********/

/*********Client *********/
.client {
   background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668504977/ComplyNG%20Images/Group_1000001728_lvwmhr.png);
   background-repeat: no-repeat;
   background-size: cover;
    padding: 390px 0px 100px 0px;
}

.client .what {
    text-align: center;
}

.client .what h1 {
    font-size: 40px;
    color: #000;
    font-weight: 900;
}

.client .what p {
    font-weight: 500;
}
.inner{
    margin-top: 50px;
    padding: 70px 30px 50px 30px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}
.inner:hover{
    margin-top: 50px;
    padding: 70px 30px 50px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    Offset: 0px, 41.04px
rgba(0, 0, 0, 0.053);
    border-radius: 5px;
    text-align: center;
}
.inner img{
    display: block;
    margin: auto;
    width: 100px;
    margin-bottom: 20px !important;
}
.inner h1{
    padding: 30px 0 0 0;
    font-size: 12px;
    font-weight: 500;
}
.inner a{
    text-decoration: underline;
    font-size: 13px;
    color: #8CB523;
}
@media (max-width:584px) {
    .client {
        padding: 250px 10px 100px 10px !important;
    }

    .client .what h1 {
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }
    .inner{
        margin-top: 20px;
        padding: 70px 30px 50px 30px;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
    }
}
@media (max-width:991px) {
    .client {
        background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668504977/ComplyNG%20Images/Group_1000001728_lvwmhr.png);
        background-repeat: no-repeat;
        background-size: cover;
         padding: 330px 0px 100px 0px;
     }
     .inner:hover{
        margin-top: 50px;
        padding: 70px 30px 50px 30px;
        background-color: #fff;
        box-shadow: none !important;
        border-radius: 5px;
        text-align: center;
    }
}
/*********Client  Ends*********/

/*********Footer*********/
footer {
    background-color: #F9F9F9;
    padding: 90px 10px 30px 10px !important;
    color: #000;
  }
  footer .main-ft {
    margin-top: -20px;
    color: #000;
  }
  footer .main-ft img {
    width: 150px;
    padding-bottom: 15px;
  }
  footer .main-ft h5 {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
  }
  footer .main-ft p {
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
  }
  footer .main-ft p span {
    color: #4c8f35 !important;
    font-size: 20px;
  }
  footer .main-ft p a {
    padding-left: 10px;
    text-decoration: none;
    color: #cecece;
  }
  footer .main-ft p a:hover {
    text-decoration: underline;
  }
  footer .link-ft .social {
    margin-top: 30px;
  }
  footer .link-ft .social h5 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: -10px;
  }
  footer .link-ft .social a {
    padding-right: 20px;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
  }
  footer .link-ft .social a:hover {
    color: #8CB523;
  }
  footer .link-ft {
    margin-top: 30px;
  }
  footer .link-ft h4 {
    color: #000;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.4px;
  }
  footer .link-ft .line-rule {
    width: 30px;
    height: 2px;
    margin-bottom: 10px;
  }
  footer .link-ft p {
    line-height: 20px;
  }
  footer .link-ft p a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
  }
  footer .link-ft p a:hover {
    color: #8CB523;
  }
  footer .copyright {
    border-top: 1px solid #949494;
    padding-top: 20px;
    margin-top: 70px;
  }
  footer .copyright p {
    font-size: 15px;
    color: #000;
  }
  @media (max-width: 991px) {
    footer {
      padding: 80px 20px 30px 20px;
    }
    footer .main-ft .social {
      margin-bottom: 10px;
    }
    footer .link-ft {
      margin-top: 20px;
    }
  }
  
/********Universal Breadcrumb********/
.Breadcrumb{
    background-image: linear-gradient(90deg, #1d1d1d6f, #1a223b6f), url('https://res.cloudinary.com/greenmouse-tech/image/upload/v1668614289/ComplyNG%20Images/Mask_qv3qpj.png');
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 150px 10px 50px 40px;
    margin-top: 80px;
    color: #fff;
}
.Breadcrumb h1{
    font-weight: 700;
    font-size: 45px;
}
.Breadcrumb-ser{
    background-image: linear-gradient(90deg, #1d1d1d6f, #1a223b6f), url('https://res.cloudinary.com/greenmouse-tech/image/upload/v1668613967/ComplyNG%20Images/Mask_group_rukbwb.png');
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 150px 10px 50px 40px;
    margin-top: 80px;
    color: #fff;
}
.Breadcrumb-ser h1{
    font-weight: 700;
    font-size: 45px;
}
/********Universal Breadcrumb Ends********/

/********Detailas Ends********/
.Details{
    padding: 100px 0px 20px;
}
.Details p{
    font-weight: 500;
}
/********Detailas Ends********/

/********Addition********/
.Addition{
    padding: 50px 0px 80px 0px;
    background-color: #E5E5FB;
}
.Addition .addict h1{
    font-size: 35px;
    font-weight: 900;
    padding: 0px 0px 20px 0;
}
.Addition .addict p{
    position: relative;
    font-weight: 500;
    top: -23px;
    left: 35px;
}
.Addition .addict .second{
    margin-top: -20px;
}
.Addition .images img{
    display: block;
    margin: auto;
    width: 80%;
    position: relative;
    top: -150px;
}
.Addition .push {
   margin-top: -70px;
}
.Addition .line {
    background-color: #949494;
    height: 0.5px;
    width: 100%;
}
.Addition .what{
    padding: 50px 0px 0 0;
}
.Addition .what h1{
    font-size: 35px;
    font-weight: 900;
    padding: 0px 0px 0px 0;
}
.Addition .what p{
    font-weight: 500;
}
.Addition .calling .only{
    position: relative;
    left: 30px;
    top: -22px;
}
.Addition .calling .only h1{
    font-size: 20px;
    font-weight: 700;
}
.Addition .calling .only p{
    font-weight: 500;
    margin-bottom: 0;
}
.Addition .calling button{
    color: #fff;
    border: none;
    background-color: #8CB523;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #8CB523;
}
.Addition .calling a{
    text-decoration: none;
}
@media (max-width:1200px) {
    .Addition .addict h1{
        font-size: 25px;
        font-weight: 900;
        padding: 0px 0px 20px 0;
    }
    .Addition .push {
        margin-top: 50px;
     }
}
@media (max-width:992px) {
    .Addition .images img{
        display: block;
        margin: auto;
        width: 80%;
        position: relative;
        top: 30px;
    }
    .Addition .push {
        margin-top: 100px;
     }
}
@media (max-width:584px) {
    .Details{
        padding: 100px 10px 20px 10px;
    }
    .Addition .addict h1{
        font-size: 20px;
        font-weight: 900;
        padding: 0px 0px 20px 0;
    }
    .Addition{
        padding: 50px 20px;
        background-color: #E5E5FB;
    }
    .Addition .images img{
        display: block;
        margin: auto;
        width: 100%;
        position: relative;
        top: 30px;
    }
    .Breadcrumb{
        padding: 150px 10px 50px 20px;
        margin-top: 80px;
        color: #fff;
    }
    .Breadcrumb-ser{
        padding: 150px 10px 50px 20px;
        margin-top: 80px;
        color: #fff;
    }
    .Addition .calling .only h1{
        font-size: 18px;
        font-weight: 700;
    }
    .Addition .calling button{
        color: #fff;
        border: none;
        background-color: #8CB523;
        padding: 10px 30px;
        border-radius: 5px;
        display: block;
        box-shadow: 0px 4px 20px #8CB523;
        margin: auto;
    }
    .Addition .calling a{
        text-decoration: none;
    }
}
/********Addition Ends********/

/********Stand********/
.stand{
    padding: 100px 0px 50px;
    background-color: #FFFFFF;
}
.stand .what {
    text-align: center;
}

.stand .what h1 {
    font-size: 45px;
    color: #000;
    font-weight: 900;
}

.stand .what p {
    font-weight: 500;
}

.stand .card {
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 5px;
    border: none;
    height: 220px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.stand .card img {
    width: 50px;
}

.stand .card h1 {
    color: #000;
    padding: 15px 0px 0px 0;
    font-size: 17px;
    font-weight: 900;
}

.stand .card p {
    font-size: 14px;
}

.stand .push {
    padding: 80px 0px 0px 0px;
}

.stand .line {
    background-color: #949494;
    height: 0.5px;
    width: 100%;
}

@media (max-width:1300px) {
    .stand .card {
        height: 240px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:1200px) {
    .stand .card {
        height: 280px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:992px) {
    .stand .card {
        height: 220px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:584px) {
    .stand {
        padding: 50px 10px 10px 10px;
    }

    .stand .what h1 {
        font-size: 30px;
        color: #000;
        font-weight: 900;
    }
}

/********Stand Ends********/

/********Document********/
.document{
    padding: 20px 0px 100px 0px;
    background-color: #fff;
}
.document .images img{
    width: 100%;
    display: block;
    margin: auto;
}
.document .differ{
    padding: 40px 0 0 0;
}
.document .differ h1{
    font-size: 35px;
    font-weight: 900;
}
.document .seperate{
    padding: 30px 0;
}
.document .differ p{
    font-weight: 500;
}
.document .differ button{
    color: #fff;
    border: none;
    background-color: #8CB523;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #8CB523;
}
.document .push {
    padding: 80px 0px 0px 0px;
}

.document .line {
    background-color: #949494;
    height: 0.5px;
    width: 100%;
}
@media (max-width:1200px) {
    .document .differ{
        padding: 10px 0 0 0;
    }
}
@media (max-width:992px) {
    .document .differ{
        padding: 30px 0 0 0;
    }
    .document .seperate{
        padding: 15px 0;
    }
    .document .images img{
        margin-top: 50px !important;
        width: 100%;
        display: block;
        margin: auto;
    }
    .document{
        padding: 0px 0px 100px 0px;
        background-color: #fff;
    }
}
@media (max-width:584px) {
    .document{
        padding: 0px 10px 50px 10px;
        background-color: #fff;
    }
}
@media (max-width:487px) {
    .document .differ h1{
        font-size: 25px;
        font-weight: 900;
    }
}

/********Document Ends********/


/********Client********/
.Client{
    padding: 0px 0px 50px;
    background-color: #fff;
}
.Client .what {
    text-align: center;
}

.Client .what h1 {
    font-size: 45px;
    color: #000;
    font-weight: 900;
}
.Client .iamges{
    padding: 30px 0px;
}
.Client .iamges img{
    display: block;
    width: 80%;
    margin: auto;
}
@media (max-width:584px) {
    .Client{
        padding: 0px 0px 50px;
        background-color: #fff;
    }
    .Client .what h1 {
        font-size: 35px;
        color: #000;
        font-weight: 900;
    }
    .Client .iamges{
        padding: 10px 0px;
    }
}
/********Client Ends********/

/********meet********/
.meet{
    padding: 50px 0px;
    background-color: #000;
}
.meet h1{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.meet a{
    text-decoration: none;
}
.meet button{
    margin-top: 50px !important;
    color: #fff;
    display: block;
    margin: auto;
    border: none;
    background-color: #8CB523;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #8CB523;
}
@media (max-width:1200px) {
    .meet h1{
        font-size: 30px;
        font-weight: 900;
        color: #fff;
        text-align: center;
    }
}
@media (max-width:584px) {
    .meet{
        padding: 50px 20px;
    }
    .meet h1{
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        text-align: center;
    }
}
/********meet Ends********/

/********Cheapest********/
.Cheapest{
    padding: 100px 0px 0px 0px;
    background-color: #FFFFFF;
}
.Cheapest .images img{
    display: block;
    margin: auto;
    width: 80%;
}
.Cheapest .proof{
    padding: 30px 0 0 0;
}
.Cheapest .proof h1{
    font-size: 35px;
    font-weight: 900;
}
.Cheapest .proof p{
    font-weight: 500;
}
.Cheapest .proof  .http{
    padding: 10px 0 0 ;
}
.Cheapest .proof .http img{
    display:inline-block;
    margin: auto;
}
.Cheapest .proof .http p{
    position: relative;
    top: -105px;
    left: 35px;
    font-weight: 500;
}
.Cheapest .proof .once{
    position: relative;
    top: -100px;
}
.Cheapest .click{
    margin-top: -20px !important;
    color: #fff;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 300px;
    border: none;
    background-color: #8CB523;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #8CB523;
}
.Cheapest .here{
    margin-top: -20px !important;
    color: #000;
    display: inline-block;
    margin: auto;
    border: 1px solid #000;
    position: relative;
    left: 350px;
    background-color: #fff;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 5px;
}
.Cheapest .push {
    padding: 70px 0px 0px 0px;
}

.Cheapest .line {
    background-color: #949494;
    height: 1px;
    width: 100%;
}
@media (max-width:1200px) {
    .Cheapest .proof{
        padding: 0px 0 0 0;
    }
    .Cheapest .proof h1{
        font-size: 30px;
        font-weight: 900;
    }
}
@media (max-width:991px) {
    .Cheapest .images img{
        display: block;
        margin: auto;
        width: 100%;
    }
    .Cheapest .images{
        margin-top: -30px;
    }
    .Cheapest .proof .once{
        position: relative;
        top: -100px;
    }
    .Cheapest .click{
        margin-top: 40px !important;
        color: #fff;
        display: block;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .Cheapest .here{
        margin-top: 20px !important;
        color: #000;
        display: block;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .Cheapest .proof .once{
        position: relative;
        top: -100px;
    }
}
@media (max-width:584px) {
    .Cheapest{
        padding: 100px 10px 0px 10px;
        background-color: #FFFFFF;
    }
    .Cheapest .images{
        margin-top: -60px;
    }
    /* .Cheapest .proof p{
        font-size: 14px !important;
    } */
}
@media (max-width:464px) {
    .Cheapest .proof h1{
        font-size: 25px;
        font-weight: 900;
    }
    .Cheapest .proof .http p{
        margin-top: -8px;
    }
}
/********Cheapest Ends********/


/********Second********/
.Second{
    padding: 100px 0px 50px 0px;
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668436203/ComplyNG%20Images/Group_1000001728_sax3z4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Second .images img{
    display: block;
    margin: auto;
    width: 80%;
}
.Second .proof{
    padding: 50px 0 0 0;
}
.Second .proof h1{
    font-size: 35px;
    font-weight: 900;
}
.Second .proof p{
    font-weight: 500;
}
.Second .proof  .http{
    padding: 10px 0 0 ;
}
.Second .proof .http img{
    display:inline-block;
    margin: auto;
}
.Second .proof .http p{
    position: relative;
    top: -105px;
    left: 35px;
    font-weight: 500;
}
.Second .proof .once{
    position: relative;
    top: -100px;
}
.Second .click{
    margin-top: -20px !important;
    color: #fff;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 300px;
    border: none;
    background-color: #8CB523;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #8CB523;
}
.Second .here{
    margin-top: -20px !important;
    color: #000;
    display: inline-block;
    margin: auto;
    border: 1px solid #000;
    position: relative;
    left: 350px;
    background-color: #fff;
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 5px;
}
.Second .push {
    padding: 70px 0px 0px 0px;
}

.Second .line {
    background-color: #949494;
    height: 1px;
    width: 100%;
}
@media (max-width:1200px) {
    .Second .proof{
        padding: 0px 0 0 0;
    }
    .Second .proof h1{
        font-size: 30px;
        font-weight: 900;
    }
}
@media (max-width:991px) {
    .Second .images img{
        display: block;
        margin: auto;
        width: 100%;
    }
    .Second .images{
        margin-top: -30px;
    }
    .Second .proof .once{
        position: relative;
        top: -100px;
    }
    .Second .click{
        margin-top: 40px !important;
        color: #fff;
        display: block;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .Second .here{
        margin-top: 20px !important;
        color: #000;
        display: block;
        margin: auto;
        position: relative;
        left: 0px;
    }
    .Second .proof .once{
        position: relative;
        top: -100px;
    }
}
@media (max-width:584px) {
    .Second{
        padding: 100px 10px 0px 10px;
        background-color: #FFFFFF;
    }
    .Second .images{
        margin-top: -60px;
    }
}
/********Second Ends********/

/**********lOGIN*************/
#back{
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668431293/ComplyNG%20Images/tihjy_jnvfoe.png);
    background-size: cover;
    background-repeat:no-repeat;
}
.logIn{
    margin-top: 150px;
}
.logIn .fine {
    text-align: center;
    margin-top: 30px;
}
.logIn .fine a {
   color: #9DB940 !important;
}
.logIn .sign .sign-div img{
    width: 150px;
    display: block;
    margin: auto;
}
.logIn .sign .sign-div {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
    border-radius: 10px;
    width: 100%;
    padding: 50px 50px;
    margin-top: 20px;
}
.logIn .sign h4{
    font-size: 30px;
    color: #000000;
    padding: 0px 0 10px 0px;
    font-weight: 600;
}
.logIn .sign .sign-div ::placeholder{
    font-size: 12px;
    color: #000;
}
.logIn .sign .sign-div label{
    font-size: 15px;
    margin-bottom: 10px;
}
.logIn .sign .sign-div input{
    display: block;
    width: 100%;
    padding: 15px 5px 15px 20px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    letter-spacing: 0.8px;
    background-color: #F1F5FD;
    font-size: 14px;
    transition: 0.6s;
}
.logIn .sign .sign-div a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.logIn .sign .sign-div p{
    font-size: 13px;
    margin-top: 10px;
}
.logIn .sign .sign-div button{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    text-align: center;
    border: none;
    background-color: #95B343;
    color: #fff;
    border-radius: 5px;
}
@media(max-width: 1400px){
    .logIn .sign .sign-div button{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        text-align: center;
        border: none;
        color: #fff;
        border-radius: 10px;
    }
}
@media(max-width: 520px){
    .logIn .sign .sign-div button{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        text-align: center;
        border: none;
        background-color: #95B343;
        color: #fff;
        border-radius: 10px;
    }
    .logIn .sign .sign-div a{
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 15px !important;
    }
   
    .logIn .sign .sign-div {
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
        border-radius: 10px;
        width: 100%;
        padding: 30px 20px;
        margin-top: 20px; 
    }
    #back{
        height: 100vh;
    }
    
}

/**********lOGIN ENDS*************/


/**********Contact *************/
#never{
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1668431293/ComplyNG%20Images/tihjy_jnvfoe.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.contact{
    margin-top: 80px;
    padding: 100px 0px;
}
.contact .Needs h1{
    font-size: 35px;
    color: #000;
    font-weight: 600;
}
.contact .Needs p{
    font-weight: 500;
    padding: 0px 0px 30px 0px;
}
.contact .Needs span{
    padding: 0 0 0 10px;
    line-height: 2;
}
.contact .Needs .tele{
    padding: 0 0 15px 0px;
}
.contact .Needs i{
    font-size: 22px;
}
.contact iframe{
    padding: 20px 0 0 0;
    width: 100%;
    height: 280px;
}
.contact .sign .sign-div ::placeholder{
    font-size: 12px;
    color: #000;
}
.contact .sign .sign-div label{
    font-size: 15px;
    margin-bottom: 10px;
}
.contact .sign .sign-div h4{
    font-size: 30px;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
}
.contact .sign .sign-div {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
}
.contact .sign .sign-div input{
    display: block;
    width: 100%;
    padding: 10px 5px 10px 20px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    letter-spacing: 0.8px;
    background-color: #F1F5FD;
    font-size: 16px;
    transition: 0.6s;
}
.contact .sign .sign-div textarea{
    display: block;
    width: 100%;
    padding: 10px 5px 10px 20px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    letter-spacing: 0.8px;
    background-color: #F1F5FD;
    font-size: 16px;
    height: 150px;
    transition: 0.6s;
}
.contact .sign .sign-div .bi{
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 19px;
    padding-right: 15px;
    padding-top: 2px;
    color: #000;
}
.contact .sign a{
    color: #000;
}
.contact .sign .sign-div a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.contact .sign .sign-div p{
    font-size: 13px;
    margin-top: 10px;
}
.contact .sign .sign-div button{
    width: 100%;
    padding: 15px;
    text-align: center;
    border: none;
    background-color: #9DB940;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
@media (max-width:991px) {
    .contact .sign .sign-div {
        margin-top: 40px;
    }
}
@media (max-width:584px) {
    .contact{
        margin-top: 80px;
        padding: 100px 10px;
    }
}
/*****I
/**********Contact ENDS*************/

/* Register Type */
.body-register{
    background-color: #eef6ff;
    height: 100vh;
}
.register {
    padding: 150px 10px;
}
.register h1{
    color: #000;
    font-weight: 700;
    font-size: 45px;
    padding-top: 10px;
}
@media (max-width:416px) {
    .register .box h4{
        font-weight: 600;
        font-size: 20px;
        color: #000;
        position: relative;
        left: 60px !important;
        top: -35px !important;
    }
    .register .box img{
        width: 50px !important;
    }
}
@media (max-width:1300px) {
    .register .box h4{
        font-weight: 600;
        font-size: 20px;
        color: #000;
        position: relative;
        left: 80px !important;
        top: -40px;
    }
}
.register p{
    font-size: 20px;
    color: #000;
}
.register .col-lg-4 a{
    text-decoration: none;
}
.register .box {
    padding: 20px 20px 0px 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #9DB940;
    margin-bottom: 10px;
}
.register .box img{
    width: 70px;
}
.register .box h4{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    position: relative;
    left: 100px;
    top: -40px;
}
.register .already{
    font-size: 17px;
    padding-top: 30px;
}
.register .btn-login{
    background-color: #9DB940;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
}
.register .btn-login:hover{
    background-color: #000;
}
@media (max-width: 991px){
    .register {
        height: auto !important;
    }
}
@media (max-width: 370px){
    .register .box h4 {
        font-size: 22px;
    }
}
/**********SIGN IN ************/
#lent{
    background-image: url(https://res.cloudinary.com/greenmouse-tech/image/upload/v1669034311/ComplyNG%20Images/Frame_xe17bk.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.sign-in{
    padding: 50px 0 0 0;
}
.sign-in .text h1{
    text-align: center;
    color: #FFFFFF;
    padding: 250px 0px 0px 0px;
    font-size: 70px ;
    font-weight: 900;
}
.sign-in .text p{
    text-align: left;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
.sign-in h3{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #1D1D5F;
    padding:20px 20px 30px 10px ;
}
.sign-in h4{
    font-size: 25px;
    font-weight: 500;
    color: #000;
    padding:50px 20px 0px 0px ;
}
.sign-in .sign img{
    width: 200px;
    display: inline-block;
    margin: auto;
}
.sign-in .sign .sign-div {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
    border-radius: 10px;
    width: 100%;
    padding: 0px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sign-in .sign .sign-div h4{
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.sign-in .sign .sign-div p{
    font-size: 14px;
    color: #95B343;
}
.sign-in .sign .sign-div ::placeholder{
    font-size: 12px;
    color: #000;
}
.sign-in .sign .sign-div label{
    font-size: 15px;
    margin-bottom: 10px;
}
.sign-in .sign .sign-div input{
    display: block;
    width: 100%;
    padding: 10px 5px 10px 40px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    letter-spacing: 0.8px;
    background-color: #F1F5FD;
    font-size: 16px;
    transition: 0.6s;
}
.sign-in .sign .sign-div .bi{
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 19px;
    padding-right: 15px;
    padding-top: 2px;
    color: #000;
}
.sign-in .sign a{
    color: #000;
}
.sign-in .sign .sign-div a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.sign-in .sign .sign-div p{
    font-size: 13px;
    margin-top: 10px;
}
.sign-in .sign .sign-div button{
    width: 100%;
    padding: 15px;
    text-align: center;
    border: none;
    background-color: #9DB940;
    color: #fff;
    border-radius: 5px;
}
@media(max-width: 1400px){
    .sign-in .sign .sign-div button{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        text-align: center;
        border: none;
        background-color: #9DB940;
        color: #fff;
        border-radius: 10px;
    }
}
@media(max-width: 1200px){
    .sign-in .sign .sign-div {
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
        border-radius: 10px;
        width: 100%;
        padding: 0px 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media(max-width: 1000px){
    .sign-in .text{
        display: none;
    }
}
@media(max-width: 520px){
    .sign-in .slider{
        display: none;
    }
    .sign-in h3{
        display: none;
    }
    .sign-in .sign .sign-div button{
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        text-align: center;
        border: none;
        background-color: #95B343;
        color: #fff;
        border-radius: 10px;
    }
    .sign-in .sign .sign-div a{
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 15px !important;
    }
    .sign-in h4{
        font-size: 20px;
        font-weight: 500;
        color: #1D1D5F;
    }
    .sign-in .sign .line-rule{
        width: 100px;
        height: 2px;    
        background-color: #000;
        margin-left: 20px  !important;
    }
    .sign-in .sign .sign-div {
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.219);
        border-radius: 10px;
        width: 100%;
        padding: 30px 20px;
        margin-top: 20px;
       
    }
}

/**********SIGN IN ENDS*************/
